* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.team-container {
  width: 100%;
  height: auto;
}
.text {
  color: #ac02acfa;
  font-size: 25px;
  margin-top: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.rows {
  width: 100%;
  margin: auto;
  /* background-color:""; */
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
.profile-card {
  background-color: lavender;
  width: 25%;
  height: auto;
  margin: 30px 30px 10px 10px;
  border-radius: 10px;
}
.profile-image {
  text-align: center;
  margin-top: 2rem;
}
.profile-content {
  padding: 15px;
}
.profile-imgs {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
.profile-image {
  text-align: center;
}
.desc {
  text-align: center;
  margin-top: 2rem;
}
.desc h2 {
  color: rgb(214, 1, 204);
  font-size: 30px;
  margin-bottom: 2rem;
}
.desc p {
  font-size: 15px;
  line-height: 1.3em;
  padding: 0px 40px;
  /* text-align: justify; */
  color: #000000;
}
.community-basic ul a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.8;
}

.community-basic ul a:hover {
  opacity: 1;
  color: rgb(68, 238, 16);
  text-decoration: none;
}

.community-basic .social {
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 40px;
  margin-top: 0px;
}

.community-basic .social > a {
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  margin: 0 10px;
  color: inherit;
  /* opacity:0.75; */
}

.community-basic .social > a:hover {
  opacity: 1;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

@media (max-width: 800px) {
  .rows {
    width: 100%;
  }
  .profile-card {
    width: 400px;
    height: 100%;
  }
  .team-container {
    max-width: 890px;
  }
}

@media (max-width: 600px) {
  .row .profile-card {
    width: 400px;
    height: 100%;
  }
}
