.search-ser-container {
  margin-top: -60px;
  margin-bottom: 20px;
}

.search-ser-container .input {
  outline: none;
  color: #8b7d77;
}

.search_ser_wrap {
  width: 500px;
  margin: 38px auto;
}

.search_ser_wrap .search_ser_box {
  position: relative;
  width: 500px;
  height: 60px;
}

.search_ser_wrap .search_ser_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_ser_wrap .search_ser_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #7690da;
  z-index: 1;
  cursor: pointer;
}

.search_ser_wrap .search_ser_box .btn:hover {
  background: #708bd2;
}

.search_ser_wrap .search_ser_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.search_ser_wrap .search_ser_wrap_1 .search_ser_box .btn {
  right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.search_ser_wrap.search_ser_wrap_1 .search_ser_box .input {
  padding-right: 80px;
}

@media screen and (max-width: 940px) {
  .search_ser_wrap {
    width: 450px;
    display: flex;
    justify-content: center;
  }
  .search_ser_wrap .search_ser_box {
    width: 450px;
    height: 50px;
  }
}

@media screen and (max-width: 668px) {
  .search_ser_wrap {
    width: 350px;
    display: flex;
    justify-content: center;
  }
  .search_ser_wrap .search_ser_box {
    width: 350px;
    height: 50px;
  }
}
